<br>
<h2>Reviews</h2>
<h3><%= @state_name %></h3>

<table class="list-park-names">
    <tr>
        <th>National Park(s):</th>
        <td class="my-page-subheading">
            <% @parks_in_state.each do |park| %>
                <a href="../../parks/<%= park.slug %>"><%= park.name %></a><%= ',' unless park == @parks_in_state.last %>
            <% end %>
        </td>
    </tr>
</table>

<br>

<% if !@posts[0] %>
    <span class="alert"><%= 'No reviews have been posted yet.' %></span>
<% else %>
    <table class="data">
        <tr>
            <th>Title</th>
            <th>Park Name</th>
            <th>Author</th>
            <th>Created</th>
            <th>Rating</th>
        </tr>
                <% @posts.each do |post| %>
        <tr>
                    <td><a href="../../posts/<%= post.id %>"><%= post.capitalize_title %></a></td>
                    <td><a href="../../parks/<%= post.park.slug %>"><%= post.park.name %></a></td>
                    <td><%= post.user.username %></td>
                    <td><%= post.convert_time %></td>
                    <td><%= post.rating %>/5</td>
        </tr>
                <% end %>
    </table>
<% end %>

<br>
<br>