<br>
<span class="alert">
    <%= flash[:message] %>
    <%= flash[:logged_in] %>
    <%= flash[:permission] %>
</span>

<h2>My Page</h2>
<br>

<table class="data">
    <% @user.posts.order(:created_at => :desc).each do |post| %>
        <tr>
            <th>Title</th>
            <th>Park Name</th>
            <th>Created</th>
            <th>Rating</th>
            <th rowspan="2">
                <form method="get" action="/posts/<%= post.id %>/edit">
                    <input type="submit" value="Edit">
                </form>
            </th>
            <th rowspan="2">
                <form method="POST" action="/posts/<%= post.id %>">
                    <input type="hidden" id="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this review?')">
                </form>
            </th>
        </tr>
        <tr>
                <td><a href="../posts/<%= post.id %>"><%= post.title %></td>
                <td><a href="../parks/<%= post.park.slug %>"><%= post.park.name %></a></td>
                <td><%= post.convert_time %></td>
                <td><%= post.rating %>/5</td>
        </tr>
        <tr>
                <td class="show-content" colspan="6"><%= post.content %></td>
        </tr>
    <% end %>
</table>

<span class="alert"><%= 'You currently have no reviews to display.' if @user.posts.empty? %><span>