<br>
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
<h3>Your Reviews</h3>
<br>

<table class="data">
    <% @user.posts.order(:created_at => :desc).each do |post| %>
        <tr>
            <th>Title</th>
            <th>Park Name</th>
            <th>Date Created</th>
            <th>Rating</th>
            <th rowspan="2">
                <form method="get" action="/posts/<%= post.id %>/edit">
                    <input type="submit" value="Edit">
                </form>
            </th>
            <th rowspan="2">
                <form method="POST" action="/posts/<%= post.id %>">
                    <input type="hidden" id="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure?')">
                </form>
            </th>
        </tr>
        <tr>
                <td><a href="../posts/<%= post.id %>"><%= post.title %></td>
                <td><a href="../parks/<%= post.park.slug %>"><%= post.park.name %></a></td>
                <td><%= post.created_at %></td>
                <td><%= post.rating %></td>
        </tr>
        <tr>
                <td class="rev-content" colspan="6"><%= post.content %></td>
        </tr>
    <% end %>
</table>