<br>
<span class="alert">
    <%= flash[:message] %>
    <%= flash[:permission] %>
    <%= flash[:signed_up] ? flash[:signed_up] : flash[:logged_in] %>
</span>

<h2>My Page</h2>
<br>

<span class="alert"><%= 'You currently have no reviews to display.' if @user.posts.empty? %></span>

<table class="data">
    <% @user.posts.order(:updated_at => :desc).each do |post| %>
        <tr>
            <th>Title</th>
            <th>Park Name</th>
            <th>Created</th>
            <th>Rating</th>
            <th rowspan="2">
                <form method="get" action="/posts/<%= post.id %>/edit">
                    <input type="submit" id="edit" value="Edit">
                </form>
            </th>
            <th rowspan="2">
                <form method="POST" action="/posts/<%= post.id %>">
                    <input type="hidden" id="hidden" name="_method" value="delete">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this review?')">
                </form>
            </th>
        </tr>
        <tr>
                <td class="my-page-subheading"><a href="../posts/<%= post.id %>"><%= post.capitalize_title %></td>
                <td class="my-page-subheading"><a href="../parks/<%= post.park.slug %>"><%= post.park.name %></a></td>
                <td class="my-page-subheading">
                <% if post.created_at == post.updated_at %>
                    <% if (Time.current - post.created_at).to_i < 86400 %>
                        <span class="alert"><%= post.convert_time(post.created_at) %></span>
                    <% else %>
                        <%= post.convert_time(post.created_at) %>
                    <% end %>
                <% else %>
                    <% if (Time.current - post.updated_at).to_i < 86400 %>
                        <span class="alert">Updated <%= post.convert_time(post.updated_at) %></span>
                    <% else %>
                        Updated <%= post.convert_time(post.updated_at) %>
                    <% end %>
                <% end %>
                </td>
                <td class="my-page-subheading"><%= post.rating %>/5</td>
        </tr>
        <tr>
                <td class="show-content" colspan="6"><%= post.content %></td>
        </tr>
    <% end %>
</table>
<br>
<br>