
<table>
    <tr>
        <th>Title</th>
        <th>Park Name</th>
        <th>Date Created</th>
        <th>Rating</th>
    </tr>
    <tr class="rev_head_info">
    <% @posts.each do |post| %>
        <td><a href="posts/<%= post.id %>"><%= post.title %></td>
        <td><a href="parks/<%= post.park.id %>"><%= post.park.name %></a></td>
        <td><%= post.created_at %></td>
        <td><%= post.rating %></td>
    </tr>
    <tr class="rev_content">
        <td = colspan="4"><%= post.content %></td>
    </tr>
    <tr class="blank_row"> 
        <td>BLANK</td>
    </tr>
    <% end %>
<table>