<br>
<span class="alert">
    <%= flash[:edit] %>
    <%= flash[:message] %>
</span>

<h2>Review</h2>
<table class="data">
    <tr>
        <th><h3>"<%= @post.title %>"</h3></th>
    </tr>
    <tr>
        <td class="show-review"><h4>Created by: <%= @post.user.username %></h4>
        <br><h4><a href="/parks/<%= @post.park.slug %>"><%= @post.park.name %> National Park</a></h4>
        <br><h4><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %></h4>
        <br><h4>Rating: <%= @post.rating %> out of 5</h4>
        </td>
    </tr>
    <tr>
        <td class="show-review"><%= @post.content %></td>
    </tr>
</table>