<br>
<span class="alert">
    <%= flash[:edit] %>
    <%= flash[:message] %>
</span>

<h2>Review</h2>

<table class="data">
    <tr>
        <th class="show-post-title">"<%= @post.capitalize_title %>"</th>
    </tr>
    <tr>
        <td class="show-review">
            <br><a href="/parks/<%= @post.park.slug %>"><%= @post.park.name %> National Park</a>
            <br><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
            <br>Rating: <%= @post.rating %> out of 5
            <br>Created by: <span class="redText"><%= @post.user.username %></span>
        </td>
    </tr>
    <tr>
        <td class="show-review-content"><%= @post.content %></td>
    </tr>
</table>