
<br>
<table>
    
    <tr><%= @post.title %></tr>
    <br>
    <tr><a href="/parks/<%= @post.park.slug %>"><%= @post.park.name %> National Park</a></tr>
    <br>
    <tr><%= @post.created_at %></tr>
    <br>
    <tr>Rating: <%= @post.rating %></tr>
    <br>
    <tr class="rev_content">
        <td = colspan="4"><%= @post.content %></td>
    </tr>
<table>