<br>
<span class="alert">
    <%= flash[:edit] %>
    <%= flash[:message] %>
    <%= flash[:logged_in] %>
</span>

<h2>Review</h2>

<table class="data">
    <tr>
        <th class="show-post-title">"<%= @post.capitalize_title %>"</th>
    </tr>
    <tr>
        <td class="show-review">
            <a href="/parks/<%= @post.park.slug %>"><%= @post.park.name %> National Park</a>
            <% if @post.created_at != @post.updated_at %>
                <br>Updated: <%= @post.updated_at.strftime("%B %d, %Y at %I:%M %p") %>
                <br>Created: <%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
            <% else %>
                <br><%= @post.created_at.strftime("%B %d, %Y at %I:%M %p") %>
            <% end %>
            <br>Rating: <%= @post.rating %> out of 5
            <br>Created by: <span class="redText"><%= @post.user.username %></span>
            <br>
            <br>
            <% if @post.user == current_user %>
                <div class="edit-delete">
                    <form method="get" action="/posts/<%= @post.id %>/edit">
                        <input type="submit" id="edit" value="Edit">
                    </form>
                </div>
                <div class="edit-delete">
                    <form method="POST" action="/posts/<%= @post.id %>">
                        <input type="hidden" id="hidden" name="_method" value="delete">
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this review?')">
                    </form>
                </div>
            <br>
            <br>
            <% end %>
        </td>
    </tr>
    <tr>
        <td class="show-review-content">
            <% if !@post.characteristics.empty? %>
                <% @post.characteristics.each do |characteristic|  %>
                    <span class="keywords"><%= characteristic.name %></span>
                <% end %>
                <br>
            <% end %>
            <%= @post.content %>
        </td>
    </tr>
</table>