<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NatParkRev</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
  </head>
<body>

  <div class="flex-container">
    <header>
      <nav>
        <% if !logged_in? %>
          <span class="nav-text-logo"><a id="nav-logo" href='/'>NatParkRev</a>    </span>
          <span class="nav-text"><a href='/posts'>Reviews</a>    </span>
          <span class="nav-text"><a href='/signup'>Sign Up</a>    </span>
          <span class="nav-text"><a href='/login'>Login</a>    </span>
        <% else %>
          <span class="nav-text-logo"><a id="nav-logo" href='/'>NatParkRev</a>    </span>
          <span class="nav-text"><a href='/posts'>Reviews</a>    </span>
          <span class="nav-text"><a href='/users/<%= current_user.slug %>'>My Page</a>    </span>
          <span class="nav-text"><a href='/posts/new'>Create</a>    </span>
          <span class="nav-text"><a href='/logout'>Logout</a>    </span>
          <span class="nav-user"><h5>You are logged in as: <span class="orangeText"><a href="/users/<%= current_user.slug %>/account"><%= current_user.slug %></a></h5></span>
        <% end %>
      </nav>
    </header>
    <main>
      <br>
      <span class="alert">
        <%= flash[:message] %>
      </span>
      <%= yield %>
    </main>
    <footer>
      <h5>
        Created by Doug Schallmoser - <a id="github" href="https://github.com/dougschallmoser" target="_blank">github.com/dougschallmoser</a>
      </h5>
    </footer>
  </div>

</body>
</html>